/*
    element selector (ex: p tag) -> p{}
    id selector (ex: id="hi") -> #hi{}
    class selector (ex: class=header) -> .header{}

*/

body {
    background: black; 
    color: white
}
h2{
    color: #D8042B;
}
h4{
    color: white;
}
p{
    color:#ffffffd8;
}
.bullet-points{
    margin: 0px;
    padding-left: 40px;
    padding-bottom: 30px;
    list-style-type: circle;
    color: #ffffffd8;
}


.header{
    color: #D8042B; 
    height: 50px;
}

/*  This is for sections being animated -> reveal is hidden until active is added
    Fade in from bottom and move along y to the top
*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}



/*Styling for links*/
a{
    color: white;
}
a:hover{
    color:#D8042B;
}
/*a:visited{
    color: #44BBA4;

}
a:hover{
    color:#FFCDB2;
}*/