/*
    element selector (ex: p tag) -> p{}
    id selector (ex: id="hi") -> #hi{}
    class selector (ex: class=header) -> .header{}

*/

body {
    background: black; 
    color: white
}
#name{
    color: white; font-size: 80px; padding-bottom: 50px;
}
#bio{
    color: #ffffffd8; font-size: 20px;
}
#about-me{
    margin-bottom: 30px; 
}
#about-me-bio{
    font-size: 18px; 
    margin-bottom: 15px;
}

.title{
    font-size: 24px; 
    margin-top: 120px; 
    margin-right: 0px; 
    margin-bottom: 40px; 
    margin-left: 0px
}

h1,h2{
    color: #D8042B;
}
h4,h6{
    color: white;
}
p{
    color:#ffffffd8;
}
.bullet-points{
    margin: 0px;
    padding-left: 40px;
    padding-bottom: 30px;
    list-style-type: circle;
    color: #ffffffd8;
}
#columns{
    margin-bottom: 20px;
}
#h2-smaller{
    font-size: 22px;
}
.header{
    color: #D8042B; 
    height: 50px;
}

/*  This is for sections being animated -> reveal is hidden until active is added
    Fade in from bottom and move along y to the top
*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/*Styling for images*/
.responsive-images{
    max-width: 100%;
    height: auto;
}

.responsive-phone-ss{
    width: 35%;
    height: 35%;
    margin-right: 20px;
}

.responsive-iphone-ss{
    width: 25%;
    height: 25%;
    margin-right: 20px;
}

/*Styling for links*/
a{
    color: white;
}
a:hover{
    color:#D8042B;
}
/*a:visited{
    color: #44BBA4;

}
a:hover{
    color:#FFCDB2;
}*/

.link{
    color:#D8042B;
}